/******** JQuery Mobile styling override ********/
.content fieldset {
    margin: 0;
}

.content .ui-li-heading {
    margin: 0;
}

.content .ui-collapsible-content {
    padding: 0;
}

.content .radio-list .ui-radio .ui-corner-top, .content .radio-list .ui-radio .ui-corner-bottom {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
}

.content .radio-list .ui-radio-on .ui-checkbox-on {
    background-color: #B2B2B2;
}

.ui-icon-searchfield:after {
		background-image: url(icons-18-white.png)
}

.ui-icon-alt {
		background-image: url(icons-18-white.png)
}

.ui-icon-loading {
	background: url(ajax-loader.gif);
}																								 

.ui-panel-inner{
  background-color: black;
  padding: 0 !important;
  margin-top: -10px !important;
  top:0;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 240dpi) {
	
	.ui-icon-plus, .ui-icon-minus, .ui-icon-delete, .ui-icon-arrow-r,
	.ui-icon-arrow-l, .ui-icon-arrow-u, .ui-icon-arrow-d, .ui-icon-check,
	.ui-icon-gear, .ui-icon-refresh, .ui-icon-forward, .ui-icon-back,
	.ui-icon-grid, .ui-icon-star, .ui-icon-alert, .ui-icon-info, .ui-icon-home, .ui-icon-search, .ui-icon-searchfield:after, 
	.ui-icon-checkbox-off, .ui-icon-checkbox-on, .ui-icon-radio-off, .ui-icon-radio-on {
		background-image: url(icons-36-white.png);
	}
	.ui-icon-alt {
		background-image: url(icons-36-black.png);
	}
}

/***** Overthrow styling (scroll enabling plugin) *****/

/* Overthrow CSS:
   Enable overflow: auto on elements with overthrow class when html element has overthrow class too */
.overthrow-enabled .overthrow {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

/***** Header button custom icon styling *****/

.ui-icon-home {
    background-color: transparent;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    box-shadow: none;
}

.ui-icon-app-sidebar {
    background-color: transparent;
    background-image: url("/static/side.png");
    background-size: 100%;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    box-shadow: none;
}

.ui-icon-app-context {
    background-color: transparent;
    background-image: url("/static/context.png");
    background-size: 100%;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    box-shadow: none;
}

.view .header .ui-icon {
    width: 22px;
    height: 22px;
    margin: 1px 1px 1px 1px !important;
}

/***** Generic styling *****/

.sidebar .ui-input-search {
		margin-left: 6px;
		margin-right: 6px;
		top: 7px;
}

.sidebar #search-bar {
		top: 0px;
}

.hoverZoomLink {
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		-ms-border-radius: 50%;
		border-radius: 50%;
}

.horizontal-list li{
    display: inline-block;
    margin-left: 5px;
}

li.label-element {
    color: black;
    text-decoration: none;
    text-shadow: 0 0 #000000;
    font-size: 0.7em;
    padding-left: 3px;
    padding-right: 3px;
}

a {
    outline: 0;
}

.thumbnail-small {
    max-height: 36px !important;
    max-width: 36px !important;
    top: 0.1em !important;;
}

.thumbnail-med {
    max-height: 44px !important;
    max-width: 44px !important;
    top: 0.1em !important;
}

.content .ui-li-aside {
    width: auto !important;
}

/***** Header styling *****/

.mainheader {
    text-align: center;
    font-size: 2em;
}

.subheader {
    text-align: center;
    font-size: 1.1em;
    line-height: 2em;
    padding-top: 3px;
    padding-bottom: 3px;
    border-bottom: 0;
}

.sidebar .ui-select {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5px;
    margin-right: 5px;
}

.short-header {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 2px;
    padding-right: 2px;
    line-height: 1em;
    text-align: center;
}

.sidebar  .header-label {
    display: none;
}

.sidebar  .radio-legend {
    display: none;
}

.sidebar  select {
}

/***** Viewport styling *****/
/*
 * #viewable contains a wrapper around #main-wrapper
 *     #viewable is the explicitly viewable region
 *     #main-wrapper contains the full content that is panned around
 *         #main-wrapper consists of a sidebar and view component
 */
#viewable
{
    position: absolute;
    height: 100%;    
    background: transparent;
    width: 100%;
    left: 0;
    overflow: hidden;
}

.wrapper
{
    position: absolute;
    height: 100%;    
    background: #DDD;
}

#main-wrapper
{
    width: 190%;
    left: -90%;
}

#main-wrapper .sidebar {
    width: 47.369%;
    position: relative;
    float: left;
    background: transparent;
    
    -moz-border-radius-bottomright: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -ms-border-bottom-right-radius: 6px;
    border-bottom-right-radius: 6px;
    
    border-bottom: 1px solid #CCC;
}

#main-wrapper .view {
    width: 52.631%;
    height: 100%;
    position: relative;
    float: right;
}

#main-wrapper .sidebar .content {
    background: #CCC;
    height: 100%;
    padding: 0;
}

#main-wrapper .view .content {
    background: #DDD;
    height: 100%;
    padding: 0;
}

/***** List styling *****/
#search-results {
    max-height: 100%;
}

#search-results .collapsible-header {
    margin-top: 5px;
    margin-bottom: 5px;
}

#user-search-results .search-results-list-item {
    height: 80px;
}

.child-list, .issue-list, .commit-list {

}

.issue-comments-list {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    width: 99%;
}

/***** List item components styling *****/

.collapsible-content .user-list-item {
    width: 99%;
}

.collapsible-content .issue-comments-list {
    width: 99%;
}

.issue-comments-list-item  .item-content {
    height: auto !important;
    width: 80%;
}

.issue-list .issue-list-item {
    margin: 0;
    padding: 0;
}

.user-list-item h3 {
    padding-left: 1em;
}

.user-list-item  .avatar, .issue-list-item .avatar {
}

.user-list-item  .username, .issue-list-item .username {
}

.child-list-item  .user, .issue-list-item .user, .commit-list-item .user {
    display: inline-block;
    border-right: 1px solid #CCC;
    overflow: ellipsis;
    width: 90px;
    float: left;
    margin-right: 8px;
}

.child-list-item .user a, .issue-list-item .user a, .commit-list-item .user a {
    text-decoration: none;
}

.child-list-item .user .username, .issue-list-item .user .username, .commit-list-item .user .username {
    font-size: 0.8em;
    margin-top: 0;
    margin-bottom: 0;
}

.child-list-item .item-content a, .issue-list-item .item-content a, .commit-list.item .item-content a{
    display: block;
    padding-right: 8px;
    width: 100%;
    height: 100%;
    overflow: ellipsis;
    text-overflow: ellipsis;
    vertical-align: middle;
    text-align: left;
    text-decoration: none;
}

.child-list-item .item-content a *, .issue-list-item .item-content a * , .commit-list-item .item-content a *{
    overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: normal;
}

.child-list-item .item-content , .issue-list-item .item-content, .commit-list-item .item-content{
    padding-top: 8px;
    padding-bottom: 8px;
    display: block;
    height: 79px;
    overflow: ellipsis;
    text-overflow: ellipsis;
}
