<ul data-role="listview" data-inset="true">
{{#each list}}
    <li>
        <a href='javascript:void(0)' class="repo-list-item" data-name="{{name}}" data-full_name="{{full_name}}">
            <span class='repo-list-item-name'>{{full_name}}</span>
        </a>
    </li>
{{/each}}
</ul>
